/*external css/external styling
	inline - 100%
	internal - 10%
	external - 50%

	specificity rules
		selectors
			-id (# use to recognize an id; to target a unique element)
			-type/tag
			-class (target according to its class attribute or it can be used to target multiple elements)
			-attribute (target with certain element values)
			-universal (* to be recognized as universal selector; applies to all html)

	Relative lengths 
	- are lengths that change relative to something: -% unit
	for percentage 
		-em relative to the current font-size 
		-rem relative to the current font-size on the html element.
		-vw relative to the width of the viewport divided by 100
		-vh relative to the height of the viewport divided by 100

	Absolute Lengths 
	- are lengths that do not change
		-px unit of pixels
		-in inches
		-pt points
*/

/* Univesal Selector - allows us to select all of our elements
					 - 
*/

/*selectors - used to select elements by their tag name*/
*{
	/*
		All elements will have a font style of Courier New and the default will be about 20px
		monospace is a fallback font. In the event the machine does not have the declared font, we will fall back to similar font.

		font-family:  changes the font-style of the text;
		font-size:  changes the size of the text;
	*/
	font-family: "Courier New", monospace;
	font-size: 20px;
	/* CSS reset */
	margin: 0;
	padding: 0;
}

/*type selector allows us to select all elements if the same type*/
h1{
	color: black !important;
	text-align: center;
	font-size: 2rem;

	/* rem is a measurement which means num * the default font size of the root element's font (16px) */
}
body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}
section{
	height: 100vh;
	/*vh means viewport height which means that this measurement takes the percentage of the overall height of the screen you are viewing*/
	text-align: center;
	/*text align allow us to align our text horizontally*/
}
h2{
	font-size: 1.5rem;
}
ol{
	list-style-type: none;
}

/*id-selector - is given more priority than other selector*/
#zuitt-motto{
	letter-spacing: 5px;
}

/*class selector for elements of the same classes
	-use . to identify class
*/
.offering-item{
	text-transform: uppercase;
}

/*attribute selector allows us to select particular elements with the same attributes
	-tagname[attribute]
		border-width:  allows us to determine the thickness of an elements border;
		border-style:  allows us to determine the style of a border;
		border-color:  allows us to determine the color of an elements border;	
*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
	/*we defined the width of our input to be at least 90% of the width of its parent element*/
}
/*Combinators*/
/*adjacent sibling selector - allows to select a particular element that immediately follows a sibling element
	selector + selector

	height and width properties will resize our element
	border-radius rounds out the corners of the element. the higher the border-radius, the more it becomes circular.
*/
#zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector allows us to select elements that are the descendants of the first selector(ancestor) 

	ancestor descendant
		color property and similar properties can also accept hex values. Hexadecimal values consist of # sign and the combination of six alphanumeric characters.
*/

#bootcamp-learning-list li{
	color: #075966;
}

/*general sibling selector - allows us to select siblings that are after our previous sibling (first selector). use (~)
	sibling ~ selected sibling
*/
/*h2 ~ a{
	text-decoration: none;
}*/

a{
	text-decoration: none;
}

/*register section*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	/*position property changes the position of an element based on a certain criteria.
	position:  relative - allows to move the position property to add a certain measurement to the left of the element
	the value % is based on the measurement of the parent element.
	the parent element being the section tag which is a block element and occupies the full width of the page.

	the value of the left property is 37% from 100% percent of its parent element
	*/
	position: relative;
	left: 37.25%;
}

/*child selector allows to select a particular child of parent element.
	parent > child
*/

section > form > label {
	color: rgb(0, 0, 128);
}

/*Mini activity
	style our button with the follow specs:
		-text = white in color
		-background-color = hex value of #CF0053
		-border = 0px
		-border-radius= 15px
*/

button{
	color: white;
	background-color: #CF0053;
	border: 0px;
	border-radius: 15px;
	padding: 3px;
	margin-top: 3px;
}