/*Styling of index.html for activity*/
/*universal*/
*{
	font-family: Verdana, sans-serif;
	font-size: 20px;
	/*CSS reset*/
	margin: 0;
	padding: 0;
}

/*type selector*/
h1{
	text-align: center;
	font-size: 3rem;
	color: black;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

html{
	scroll-behavior: smooth;
}
body{
	background-color: #9ACD32;
}

p{
	text-align: justify;
}

section{
	text-align: center;
}

/*id selector*/
#head2{
	text-transform: uppercase;
}

/*class selector*/
.languages{
	background-color: #90EE90; /*light-green*/
}

.tools{
	border-color: #0000FF; /*blue*/
	border-style: solid;
	border-width: 2px;
}

/*combinators*/
/*adjacent sibling*/
ol + ul{
	list-style-type: none;
}

/*descendant selector*/
section img{
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

/*general sibling selector*/
p ~ ul{
	text-align: center;
}

/*child selector*/
section > ul > li {
	letter-spacing: 10px;
}

/*register section*/
form{
	text-align: center;
	background-color: #00FFFF;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: #C0C0C0;
	border: 0px;
	border-radius: 15px;
	padding: 2px;
	margin-top: 2px;
}